<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flix Train </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <style>
        .navbar-dark{
           background:LawnGreen;

        }
        nav-item{
        color:black;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#">Flix Train</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Plan Your Journey<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Help</a>
            </li>
        </ul>




    </div>
</nav>



<div class="container">
    <div class="row">
        <h1>High speed Train Travel From €9.99</h1>
    </div>

    <div class="row">

    </div>

    <table class="table table-stripped table-bordered">


    </table>
</div>

<div class = "column">
    <div class = "col-lg-3">

    </div>






    </div>

    <div class="row">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="photos/flixtrain_bike_lossy.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>


                <img class="card-img-top" src="photos/flixtrain_woman_lossy.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>

            </div></div>



        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Route Network</h5>
                <p class="card-text">With daily high-speed routes to major cities, you can easily plan your trips at unbeatable prices.</p>
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2512.364258853491!2d11.035664076157572!3d50.
                    97245734964205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a472b88e6f3f81%3A0xe918c421ee38f454!2sErfurt%20Central%20Station
                    !5e0!3m2!1sen!2sde!4v1684318144119!5m2!1sen!2sde" width="600" height="450"
                        style="border:0;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



                <div class="flix-text">
                    <h3>Our FlixTrain network</h3>

                    <p>FlixTrain offers <strong>fast</strong>, <strong>comfortable</strong>, and <strong>affordable</strong> train travel in Germany and Sweden!</p>

                    <p>With daily high-speed routes to major cities, you can easily plan your trips at <strong>unbeatable prices</strong>.</p>

                    <ul>
                        <li><a href="/train-routes/berlin-hamburg"><strong>Berlin</strong> <strong>→ Hamburg</strong></a></li>
                        <li><a href="/train-routes/frankfurt-stuttgart"><strong>Frankfurt</strong> <strong>→ Stuttgart</strong></a></li>
                        <li><a href="/train-routes/cologne-hamburg"><strong>Cologne</strong> <strong>→ Hamburg</strong></a></li>
                    </ul>

                    <p>Find train lines and schedules&nbsp;<a href="/train-lines">here</a>.</p>

                    <p>Hope to see you on board soon!</p>
                </div>

            </div>
        </div>
    </div>
</div>





</div>
</div>




<div class="card text-center">

    <div class="card-body">
        <h5 class="card-title">Discover Germany and Sweden by train</h5>
        <p class="card-text">Travel affordably in both Germany and Sweden with our trains. By choosing to travel by train instead of by car,<br> you can significantly reduce your carbon footprint and help safeguard the climate. More on <br>sustainability here.<br>

            Comfort on board FlixTrain
            Our mission is to offer you an affordable and easy way of traveling, without compromising on quality. <br>With FlixTrain you always have a guaranteed seat on board, assigned for free when you book your ticket.<br> Additionally, you get to enjoy free Wi-Fi. Here you find a full list of our services on board.<br>

            Easy booking, easy traveling
            We want to make traveling as convenient as possible, therefore we offer an easy booking process as well <br>as a smooth travel experience. The easiest way to book your ticket is on our website or in the FlixBus<br> App. To give you an even bigger flexibility in your travel plans, you can combine FlixTrain and FlixBus to<br> find the best connections.

            To stay up to date with what’s going on in the FlixTrain network and also get exclusive offers, check out<br> our Instagram or like our page on Facebook..<br></p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>



<section id="popular-routes" class="popular-routes-wrapper">
    <div class="flix-page-container">

        <h2 class="flix-h2 flix-h2--section-header">Popular Cities and Connections</h2>
        <nav class="flix-nav-horizontal popular-routes-nav" aria-label="Popular Routes" data-tabs>
            <ul class="flix-nav-horizontal__items popular-routes-nav-items">

                <li class="flix-nav-horizontal__item">
                    <a class="flix-nav-horizontal__link popular-routes-nav-headline" href="#first-city-content"
                       data-tab-active-class="flix-nav-horizontal__link--active">
                        Cities
                    </a>
                </li>



                <li class="flix-nav-horizontal__item">
                    <a class="flix-nav-horizontal__link popular-routes-nav-headline" href="#second-city-content"
                       data-tab-active-class="flix-nav-horizontal__link--active">
                        Connections
                    </a>
                </li>

            </ul>
        </nav>
        <hr class="flix-divider popular-routes-divider">
        <div data-tabs-content>
            <div id="first-city-content">
                <ul class="popular-routes-content">

                    <li>
                        <a href="/train/hamburg" class="popular-routes-item">Hamburg</a>
                    </li>

                    <li>
                        <a href="/train/stuttgart" class="popular-routes-item">Stuttgart</a>
                    </li>

                    <li>
                        <a href="/train/hanover" class="popular-routes-item">Hanover</a>
                    </li>

                    <li>
                        <a href="/train/aachen" class="popular-routes-item">Aachen</a>
                    </li>

                    <li>
                        <a href="/train/munster" class="popular-routes-item">Münster</a>
                    </li>

                    <li>
                        <a href="/train/tubingen" class="popular-routes-item">Tübingen</a>
                    </li>

                    <li>
                        <a href="/train/oldenburg" class="popular-routes-item">Oldenburg</a>
                    </li>

                    <li>
                        <a href="/train/reutlingen" class="popular-routes-item">Reutlingen</a>
                    </li>

                    <li>
                        <a href="/train/wuppertal" class="popular-routes-item">Wuppertal</a>
                    </li>

                    <li>
                        <a href="/train/wilhelmshaven" class="popular-routes-item">Wilhelmshaven</a>
                    </li>

                </ul>
            </div>
            <div style="display: none" id="second-city-content">
                <ul class="popular-routes-content">

                    <li>
                        <a href="/train-routes/berlin-munich" class="popular-routes-item">Berlin - Munich</a>
                    </li>

                    <li>
                        <a href="/train-routes/berlin-hamburg" class="popular-routes-item">Berlin - Hamburg</a>
                    </li>

                    <li>
                        <a href="/train-routes/hamburg-berlin" class="popular-routes-item">Hamburg - Berlin</a>
                    </li>

                    <li>
                        <a href="/train-routes/munich-berlin" class="popular-routes-item">Munich - Berlin</a>
                    </li>

                    <li>
                        <a href="/train-routes/stuttgart-berlin" class="popular-routes-item">Stuttgart - Berlin</a>
                    </li>

                    <li>
                        <a href="/train-routes/berlin-stuttgart" class="popular-routes-item">Berlin - Stuttgart</a>
                    </li>

                    <li>
                        <a href="/train-routes/hanover-berlin" class="popular-routes-item">Hanover - Berlin</a>
                    </li>

                    <li>
                        <a href="/train-routes/frankfurt-stuttgart" class="popular-routes-item">Frankfurt - Stuttgart</a>
                    </li>

                    <li>
                        <a href="/train-routes/hamburg-cologne" class="popular-routes-item">Hamburg - Cologne</a>
                    </li>

                    <li>
                        <a href="/train-routes/berlin-hanover" class="popular-routes-item">Berlin - Hanover</a>
                    </li>

                    <li>
                        <a href="/train-routes/cologne-hamburg" class="popular-routes-item">Cologne - Hamburg</a>
                    </li>

                    <li>
                        <a href="/train-routes/stuttgart-frankfurt" class="popular-routes-item">Stuttgart - Frankfurt</a>
                    </li>

                    <li>
                        <a href="/train-routes/munich-vienna" class="popular-routes-item">Munich - Vienna</a>
                    </li>

                    <li>
                        <a href="/train-routes/vienna-munich" class="popular-routes-item">Vienna - Munich</a>
                    </li>

                    <li>
                        <a href="/train-routes/hamburg-dusseldorf" class="popular-routes-item">Hamburg - Düsseldorf</a>
                    </li>

                    <li>
                        <a href="/train-routes/dusseldorf-hamburg" class="popular-routes-item">Düsseldorf - Hamburg</a>
                    </li>

                    <li>
                        <a href="/train-routes/frankfurt-hamburg" class="popular-routes-item">Frankfurt - Hamburg</a>
                    </li>

                    <li>
                        <a href="/train-routes/hamburg-frankfurt" class="popular-routes-item">Hamburg - Frankfurt</a>
                    </li>

                    <li>
                        <a href="/train-routes/frankfurt-munich" class="popular-routes-item">Frankfurt - Munich</a>
                    </li>

                    <li>
                        <a href="/train-routes/stuttgart-hamburg" class="popular-routes-item">Stuttgart - Hamburg</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

</section>

</form>

</body>
</html>